.projects {

    display: flex;
    flex-wrap: wrap;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    @include breakpoint-down(medium)   {
        justify-content: center;
    }

    @include breakpoint-up(medium)   {
        align-items: flex-start;
    }

    &-item {

        min-width: 200px;
        min-height: 200px;
        max-width: 200px;
        max-height: 200px;
        margin: 0.5rem;
        object-fit: cover;
        align-items: center;
        overflow: hidden;

        img {
            max-height: 200px;
        }

        p {

        }

    }

}